body{
    background-image: url(homer_summer_fond_ecran.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    height: 100vh;
    margin: 0;
}

div{
    position: absolute;
    top: 50%;
    left: 50%;
}

h1 {
    margin: 0;
    text-align: center;
    
}
button{
   text-decoration: none;
   color: black;
   background: 1px solid black;
   border-radius: 5px;
   padding: 5px 20px;
   transition: 0.2s;
   
}

button:hover {
    background: white;

}

